html,
body {
  margin: none;
}

@font-face {
  font-family: 'Fhwaseriesd2020minu30';
  src: url('fonts/Fhwaseriesd2020minu30.otf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: url('fonts/Lato-Thin.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: url('fonts/Lato-ThinItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url('fonts/Lato-LightItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('fonts/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: url('fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: url('fonts/Lato-BlackItalic.ttf');
}
