=anek
  font-family: "Anek Latin", "Poppins", sans-serif

=body
  font-size: 16px
  line-height: 28px
  letter-spacing: -0.01em
  font-weight: 500

=bodyB
  font-size: 16px
  line-height: 24px
  font-weight: 700

=base
  font-size: 14px
  line-height: 24px
  letter-spacing: -0.01em
  font-weight: 600

=baseM
  font-size: 14px
  line-height: 24px
  letter-spacing: -0.01em
  font-weight: 500

=caption
  font-size: 12px
  line-height: 16px
  letter-spacing: -0.01em
  font-weight: 500

=captionB
  font-size: 12px
  line-height: 16px
  letter-spacing: -0.01em
  font-weight: 700
