// media queries
=xl
    @media only screen and (max-width: "1579px")
        @content
=w
    @media only screen and (max-width: "1419px")
        @content
=x
    @media only screen and (max-width: "1339px")
        @content
=d
    @media only screen and (max-width: "1179px")
        @content
=t
    @media only screen and (max-width: "1023px")
        @content
=m
    @media only screen and (max-width: "767px")
        @content
=a
    @media only screen and (max-width: "639px")
        @content
=s
    @media only screen and (max-width: "474px")
        @content

=r($width)
    @media only screen and (max-width: $width+ "px")
        @content
    
// colors
$blue: #2377FC
$purple: #926BFF
$green: #36BD79

// colors neutral
$n0: #FFFFFF
$n1: #FCFDFE
$n2: #F5F6F7
$n3: #EEEEEE
$n4: #787F84
$n5: #585858
$n6: #313336
$n7: #202225
