@import ~/styles/helpers

.website
  position: relative

.container
  display: flex
  align-items: center
  +d
    display: block

.wrap
  max-width: 336px
  margin-right: auto
  +d
    max-width: 420px
    margin: 0 0 48px 0

.title
  margin-bottom: 16px
  word-break: keep-all
  +m
    max-width: 290px

.info
  margin-bottom: 68px
  color: $n4
  +x
    font-size: 20px
    +d
      margin-bottom: 32px
    +m
      max-width: 220px
      font-size: 18px
      line-height: 28px

.form
  +d
    max-width: 340px
    +m
      max-width: 100%

.preview,
.previewDesktop,
.previewMobile
  text-align: center
  font-size: 0

.preview
  +x
    max-width: 580px
    +d
      max-width: 100%
    +d
      display: none

.previewDesktop
  display: none
  +d
    display: block
    +m
      display: none

.previewMobile
  display: none
  +m
    display: block
